# Node modules
veer-backend/node_modules/
veer-net-client/node_modules/

# Build outputs
veer-net-client/dist/
veer-backend/dist/
veer-net-client/build/
veer-backend/cds-service-account.json

# Environment files
veer-backend/.env
veer-net-client/.env
veer-net-client/src/firebase.js


# Credentials
veer-backend/cds-service-account.json

# System files
.DS_Store
